.nav{
  background-color: #fafa;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  top: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
}
.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  margin:10px 35px;
  text-decoration: none;
  font-size: 25px;  
}
.nav a:not(.active){
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.nav a:hover:not(.active){
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
  text-decoration: underline;
}
.nav a.active{
  background-color: #fefa;
  border-radius: 35px 12px;
  padding: 5px 15px;
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
}